/* ---------------------------
--		MOBILE STYLES		--
----------------------------*/


body {
	overflow-y:hidden;
	font-family: Arial, Helvetica, sans-serif;
}


/** div container to hold game-state elements. */
#wrapper {
	margin:auto;
	display:flex;
	flex-flow:column;
	align-content:center;
}

/** Lives label. */
h2 {
	text-align: center;
	font-size: max(4vh, 2em, 2rem);
	text-shadow: 0.045em 0.045em #AAAAAA;
}

#containerHangman {
	width: 75%;
	margin: auto;
	position: relative;
}

/** Hangman Image. */
#hangman {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25vh;
}

/** div container for word. */
#containerWord {
	width: 95%;
	margin: auto;
	position: relative;
}

/** Word Label. */
#word {
	text-align: center;
	text-shadow: 0.025em 0.025em #1e62d0;
	margin:0 auto;
	/* font-size will change based on length of word -> word.js/getRandomWord() */
}

/** div container for alphabet letters. */
#containerAlphabet {
	width: 95%;
	margin: 5vh auto;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-end;
}

/** Alphabet letter buttons. */
.buttons {
	width: 10vw;
	height: 5vh;
	margin: 0.25vh 0.25vw;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	border-radius: max(0.8vw, 0.8vh, 8px);
	border: 1px solid #337fed;
	color: #ffffff;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: 0px 1px 0px #1570cd;
	cursor: pointer;
}

/** Alphabet letter buttons:	when hovered. */
.buttons:hover {
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
}

/** Alphabet letter buttons:	after click. */
.buttons:disabled {
	box-shadow: inset 0px 1px 0px 0px #DDDDDD;
	background: #CCCCCC;
	border: 1px solid #AAAAAA;
	text-shadow: 0px 1px 0px #999999;
	cursor: not-allowed;
}

/** div container for endscreen. */
#endscreen {
	display:none;
}

/** Endscreen picture - win or lose screen. */
#endpic {
	display:none;
	width: 90vw;
	height: 70vh;
	top: 2vh;
	left: 5vw;
	position: relative;
}

/** div container for final score label. */
#scorediv {
	display: flex;
	width: 50%;
	height: 10%;
	top: 80%;
	position: fixed;
	left: 25%;
	display: flex;
	flex-flow:column;
	justify-content: center;
}

/** final score label. */
#score {
	font-weight: bold;
	font-size: 5vw;
	margin:auto;
}

.redButton {
	height: 5vh;
	border-radius: 35px;
	font-size: 1em;
	text-align: center;
	position: relative;
	margin:3em auto auto auto;
	background-color: #ED553B;
	border-color: #ED552A;
	color: white;
}

#leaderboards{
	display:none;
	flex-flow:column;
	width:50vw;
	margin:10vh auto auto auto;
}

#leaderstable{
	top:10vh;
	height:20vh;
	text-align:center;
	margin:auto;
}

#leaderSubmit {
	width:50vw;
	margin:5vh auto auto auto;
	display:flex;
	flex-flow:column;
}

#submitName {
	margin:0 auto 5vh auto;
}

#scoreDiv {
	display:flex;
	flex-flow:column;
}

th {
	font-size:5vh;
}

td {
	font-size:3vh;
	width:10vw;
}

.cellUser {
	font-weight:bold;
}

.cellScore {
	font-style:italic;
}

/* ---------------------------
--		TABLET STYLES		--
----------------------------*/
@media screen and (min-width:768px) {
	#hangman {
		height:30vh;
	}

	.buttons {
		width:12vw;
	}

	#score {
		font-size:3vw;
	}
}


/* ---------------------------
--		DESKTOP STYLES		--
----------------------------*/
@media screen and (min-width:1200px) {

	#containerAlphabet {
		width:95vw;
	}

	.buttons {
		width:10vw;
		height:8vh;
	}

	#score {
		font-size:2vw;
	}
}