/** Lives label. */
h2 {
	text-align: center;
	font-family: Arial;
	font-size: 2em;
	text-shadow: 0.045em 0.045em #AAAAAA;
}

/** Word Label. */
h1 {
	text-align:center;
	font-family: Arial;
	text-shadow:0.025em 0.025em red;
	margin-bottom: max(5vw, 5vh, 30px);
}

/** Hangman Image. */
#hangman {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** div container to hold word and letters. */
#container {
	position: absolute;
	bottom: max(5vw, 5vh, 30px);
}

/** div container for word. */
#containerWord {
	position: relative;
}

/** div container for alphabet letters. */
#containerAlphabet{
	position: relative;
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-end;
}

/** Alphabet letter buttons. */
.buttons {
	width: 9vw;
	height: 5vh;
	margin: 0.3vw 0.3vh;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	border-radius: max(0.7vw, 0.7vh, 6px);
	border: 1px solid #337fed;
	color:#ffffff;
	font-family: Arial;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow:0px 1px 0px #1570cd;
	cursor: pointer;
}

/** Alphabet letter buttons:	when hovered. */
.buttons:hover {
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
}

/** Alphabet letter buttons:	after click. */
.buttons:disabled {
	box-shadow: inset 0px 1px 0px 0px #DDDDDD;
	background: #CCCCCC;
	border:1px solid #AAAAAA;
	text-shadow: 0px 1px 0px #999999;
	cursor: not-allowed;
}
